<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link href="{% static "css/estilo.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
      <div>
       <table name="cabezera">
            <tr>
                <td>
                    <div>Paciente : </div>
                </td>
                <td>
                    <div><input  type="text" placeholder="ingrese apellidos" name="paciente" value="" required autofocus> </div>
                </td>
                <td>
                    <div>N. de Historia Clinica    </div>
                </td>
                <td>
                    <div><input type="text" placeholder="numero de historia clinica" name="histocli" value="">   </div>
                </td>
                <td>
                    <div>Centro de Salud   </div>
                </td>
                <td>
                    <div>
                        <select id="centro_salud" onchange="elegir_centro_salud(this);">
                            <option value="L">Bonilla</option>
                            <option value="P">Puerto Nuevo</option>
                            <option value="D">Don Bosco</option>
                            <option value="La">La Punta</option>
                            <option value="B">Barton</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>D.N.I. </div>
                </td>
                <td>
                    <div>
                        <input type="text" class="ctancho" name="dni" maxlength="11">
                    </div>
                </td>
                <td>
                    <div>Enfermo(a):</div>
                </td>
                <td>
                    <div><input type="text" name="enfermero"></div>
                </td>
                <td>
                    <div>Nivel:</div>
                </td>
                <td>
                    <div>
                        <select id="nivel" onchange="elegir_nivel(this);">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Fecha naci. </div>
                </td>
                <td>
                    <div>
                        <input type="text" class="ctancho" name="fechanaci" maxlength="12">
                    </div>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div>Dirección:</div>
                    </td>
                    <td>
                        <div>
                            <input type="text" name="direc">
                        </div>
                    </td>
            </tr>
       </table>
       <table name="detalle" border="1" width="75%">
           <tr>
               <td><div>Vacuna</div></td>
               <td><div>2 meses</div></td>
               <td><div>4 meses</div></td>
               <td><div>6 meses</div></td>

           </tr>
           <tr>

           </tr>
           <tr>

           </tr>
           <tr>

           </tr>
           <tr>

           </tr>
       </table>
     </div>
</body>
</html>