<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="{% url 'agregarcs' %}">Agregar</a>
    <table>
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Dirección</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for data in lista_data %}
                <tr>
                    <td>
                        {{data.nombre}}
                        {{data.direccion}}
                    <td>
                        <a href="{% url 'editarcs' data.pk %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>