<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a href="{% url 'agregartipo' %}">Agregar</a>
    <table>
        <thead>
            <tr>

                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for data in lista_data %}
                <tr>
                    <td>{{data.descripcion}}</td>
                    <td>
                        <a href="{% url 'editartipo' data.pk %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>