{% extends 'masterpage.html' %}
{% block contenido %}

<table>
    <tr>
        <td><div> <a href="{% url 'listar-paciente' %}">PACIENTE</a> </div></td>
        <td><div> <a href="{% url 'listar-tipo' %}">TIPO PACIENTE</a> </div></td>
        <td><div> <a href="{% url 'listar-pais' %}">PAIS</a> </div></td>
        <td><div> <a href="{% url 'listar-enfermero' %}">ENFERMERO</a> </div></td>
        <td><div> <a href="{% url 'listar-cs' %}">CENTRO SALUD</a> </div></td>
        <td><div> <a href="{% url 'listar-red' %}">RED</a> </div></td>
        <td><div> <a href="{% url 'listar-micro' %}">MICRO RED</a> </div></td>
        <td><div> <a href="{% url 'listar-diresa' %}">DIRESA</a> </div></td>
        <td><div> <a href="{% url 'listar-vacuna' %}">VACUNA</a> </div></td>
    </tr>

</table>

{% endblock %}